.main-section>main>.main-page>.third-element {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-image: url(images/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
}

.main-section>main>.main-page>.third-element>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-section>main>.main-page>.third-element>div>.box-of-head {
    display: flex;
    gap: 25px;
    align-items: center;
}

.main-section>main>.main-page>.third-element>div>.box-of-head>h2 {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: var(--bgColor1);
    font-weight: 900;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.main-section>main>.main-page>.third-element>div>.box-of-head>h2::before {
    content: '';
    width: calc((100% - 300px) / 2);
    height: 6px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    border-radius: 5px;
    background-color: gray;
}

.main-section>main>.main-page>.third-element>div>.box-of-head>h2::after {
    content: '';
    width: calc((100% - 300px) / 2);
    height: 6px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    border-radius: 5px;
    background-color: gray;
}

.main-section>main>.main-page>.third-element>div>.box-of-head>a {
    text-align: center;
    text-transform: uppercase;
    color: rgb(104, 104, 104);
    white-space: nowrap;
    letter-spacing: 4px;
    padding: 3px 0;
    border-bottom: 1px solid gray;
    font-size: .9rem;
}

.main-section>main>.main-page>.third-element>div>.elements-of-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.main-section>main>.main-page>.third-element>div>.elements-of-boxes>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(193, 193, 193);
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(2px);
    position: relative;
}

.main-section>main>.main-page>.third-element>div>.elements-of-boxes>div>small {
    background-color: rgb(0, 128, 68);
    padding: 8px 12px;
    color: white;
    position: absolute;
    top: 10px;
    left: 20px;
}

.main-section>main>.main-page>.third-element>div>.elements-of-boxes>div>img {
    width: 77%;
    margin: 5px auto;
    object-fit: cover;
}

.main-section>main>.main-page>.third-element>div>.elements-of-boxes>div>button {
    padding: 20px 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: var(--bgColor1);
    color: white;
    cursor: pointer;
    transition: .5s;
    font-size: 1rem;
}

.main-section>main>.main-page>.third-element>div>.elements-of-boxes>div>button:hover {
    background-color: rgb(2, 47, 90);
}




@media(max-width: 1300px) {
    .main-section>main>.main-page>.third-element>div>.box-of-head>a {
        font-size: .6rem;
        font-weight: 700;
        letter-spacing: 3px;
    }

    .main-section>main>.main-page>.third-element>div>.elements-of-boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        font-size: 80%;
    }

    .main-section>main>.main-page>.third-element>div>.elements-of-boxes>div>small {
        font-size: 70%;
        left: 10px;
    }

    .main-section>main>.main-page>.third-element>div>.elements-of-boxes>div>button {
        padding: 10px 0;
        font-size: 90%;
        border-radius: 6px;
    }
}



@media(max-width: 850px) {
    .main-section>main>.main-page>.third-element {
        padding: 25px 18px;
    }

    .main-section>main>.main-page>.third-element>div>.elements-of-boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
    }
}



@media(max-width: 600px) {
    .main-section>main>.main-page>.third-element {
        padding: 20px 10px;
    }

    .main-section>main>.main-page>.third-element>div>.box-of-head {
        gap: 13px;
    }

    .main-section>main>.main-page>.third-element>div>.box-of-head>a {
        font-size: .45rem;
    }

    .main-section>main>.main-page>.third-element>div>.box-of-head>h2 {
        font-size: .9rem;
        text-align: left;
        padding: 15px 5px;
    }

    .main-section>main>.main-page>.third-element>div>.box-of-head>h2::before {
        width: 0%;
        height: 4px;
    }

    .main-section>main>.main-page>.third-element>div>.box-of-head>h2::after {
        width: calc(100% - 170px);
        height: 4px;
    }

    .main-section>main>.main-page>.third-element>div>.elements-of-boxes {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .main-section>main>.main-page>.third-element>div>.elements-of-boxes>div {
        padding: 10px 5px;
        font-size: 87%;
    }

    .main-section>main>.main-page>.third-element>div>.elements-of-boxes>div>small {
        left: 5px;
    }
}